<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartbin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bin4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bin4"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartBin"
        tools:targetApi="31">
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8bloE3UKKlv176biKSOhw5SDAlK66i2U"/>
    </application>

</manifest>